{
  "extends": ["airbnb"],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "react/function-component-definition": [
      "error",
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ]
  }
}
